
.custom-as-link {
  cursor: pointer;
}

.custom-telegram-login-position {
  padding-left: 50%;
  padding-top: 25%;
}

.custom-hero-container {
  margin-right: 0.5em;
  margin-left: 0.5em;
  min-width: 99%;
}
